<% fillings = ["Carnitas", "Al Pasto", "Steak", "Fish", "Veggie"]%>

<h1> I love lots of Tacos! </h1>
<p> There are so many kinds of great tacos: </p>
<ul>
  <% for filling in fillings %>
    <li> <%= filling %></li>
  <% end %>
</ul>